// --ms-fullscreen

$background-main-color: #b0bbad;

article {
  font-size: 0.5em;
  font-weight: 300;

  header {
    background-color: $background-main-color;
  }
}

button {
  background: #b0b;
  color: $background-main-color;
}

nav {
  background-color: $background-main-color;
}

body,
html {
  margin: 0;
  font-size: 32px;
  font-family: "Helvetica";
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
